html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  color: #333;
  background-color: #fff;
  font-family: source-han-serif-sc, serif;
}
.body-box {
  height: 100%;
}
.body-box .content-box {
  display: flex;
  align-items: stretch;
  height: 100%;
}
html, body ,div, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, form, input, a, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, pre, blockquote { margin: 0; padding: 0 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
img{ border: none; }
li { list-style-type: none }
a { text-decoration: none; outline: none}
a:hover { text-decoration: none; }
code,pre,input { font-family: source-han-serif-sc, serif; }
.fl{ float: left; }
.fr {float: right;}
.cl::after {content: ""; display: block; clear: both;}
.archive-year {
  font-size: 32px;
  padding: 30px 0px;
  color: #333;
}
.archive-year span.year-block,
.archive-year span.year-info {
  display: inline-block;
}
.archive-year span.year-block {
  width: 50px;
  height: 25px;
  background-color: #2f3363;
  border-radius: 3px;
}
.archive-year span.year-info {
  margin-left: -20px;
}
.archive-year span.year-info:first-letter {
  color: #fff;
}
.content-article {
  flex: 1;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
.content-article::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
.content-article::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2f3363;
}
.content-article .content-article-box {
  padding: 60px 80px;
}
.content-article .article {
  padding: 20px 0px;
  border-bottom: 1px dotted #dadada;
}
.content-article .article-post {
  padding: 50px;
  border-bottom: none;
}
.content-article .article-post .article-title {
  font-size: 32px !important;
  margin-bottom: 50px;
  word-break: break-all;
}
.content-article .article-time {
  float: right;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.content-article .article-title {
  line-height: 50px;
  font-size: 26px;
}
.content-article .article-title .title-main {
  font-weight: normal;
  color: #333;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content-article .article-title .title-main:hover {
  color: #2f3363;
}
.content-article .article-con {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.content-article .article-con p {
  margin: 10px 0px;
  word-break: break-all;
}
.content-article .article-con h1,
.content-article .article-con h2,
.content-article .article-con h3,
.content-article .article-con h4,
.content-article .article-con h5,
.content-article .article-con h6 {
  margin: 30px 0px;
  border-bottom: 1px dotted $border_color;
}
.content-article .article-con h1 {
  font-size: 1.5em;
}
.content-article .article-con h2 {
  font-size: 1.3em;
}
.content-article .article-con h3 {
  font-size: 1.1em;
}
.content-article .article-con blockquote {
  border: 1px solid #2f3363;
  font-size: 14px;
  padding: 10px 20px;
  margin: 20px 0px;
  overflow: auto;
}
.content-article .article-con a {
  color: #333;
  text-decoration: underline;
}
.content-article .article-con ul,
.content-article .article-con ol {
  padding-left: 20px;
}
.content-article .article-con li {
  list-style: square;
}
.content-article .article-con .highlight {
  border: 1px dotted $border_color;
  font-size: 0.8em;
  background-color: #fff;
  border: 1px dotted #c9c9c9;
  padding: 5px 30px;
  overflow: auto;
  color: #333;
  margin: 20px 0px;
}
.content-article .article-con .highlight .gutter {
  color: #b1b1b1;
  padding-right: 10px;
}
.content-article .article-con .highlight table {
  width: auto;
  text-indent: 0px;
}
.content-article .article-con .highlight table td,
.content-article .article-con .highlight table th {
  border: none;
}
.content-article .article-con code {
  background-color: #eee;
  display: inline-block;
  padding: 0px 10px;
  font-size: 14px;
  margin: 5px;
}
.content-article .article-con hr {
  border: none;
  background-color: $border_color;
  height: 1px;
}
.content-article .article-con img {
  display: block;
  border-radius: 2px;
  max-width: 100%;
  margin: auto;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.8;
}
.content-article .article-con img:hover {
  opacity: 1;
}
.content-article .article-con table {
  width: 100%;
  border-collapse: collapse;
  text-indent: 20px;
}
.content-article .article-con table td,
.content-article .article-con table th {
  padding: 5px 0px;
  border: 1px solid #dadada;
}
.content-article .article-con table th {
  background: #2f3363;
  color: #fff;
  text-align: left;
  text-indent: 20px;
}
.content-article .article-navgition {
  margin-top: 40px;
  font-size: 16px;
}
.content-article .article-navgition .navgition-prev {
  text-align: left;
}
.content-article .article-navgition .navgition-next {
  text-align: right;
}
.content-article .article-navgition .navgition-wrap {
  display: flex;
}
.content-article .article-navgition .navgition-wrap > div {
  flex: 1;
  float: left;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.content-article .article-navgition .navgition-wrap > div:hover a {
  text-decoration: underline;
}
.content-article .article-navgition .navgition-wrap:after {
  content: "";
  display: block;
  clear: both;
}
.content-article .article-navgition .navgition-title {
  font-size: 16px;
  font-weight: normal;
  color: #2f3363;
}
.content-article .article-navgition .navgition-title a {
  color: #333;
}
.content-article .pagination {
  border-bottom: 1px dotted #dadada;
}
.content-article .pagination .current {
  color: #fff;
  background-color: #2f3363;
}
.content-article .pagination span,
.content-article .pagination a {
  display: inline-block;
  font-size: 18px;
  border-right: 1px solid #dadada;
  padding: 20px;
  color: #4e4e4e;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content-article .pagination span:hover,
.content-article .pagination a:hover {
  color: #fff;
  background-color: #2f3363;
}
.content-article .article-column-title {
  padding: 50px 0px;
  font-size: 24px;
}
.content-article .article-column-title span {
  background-color: #2f3363;
  color: #fff;
  display: inline-block;
  margin: 0px 5px;
}
.sidebar {
  width: 300px;
  height: 100%;
  box-shadow: 0px 0px 10px #dadada;
  position: relative;
}
.sidebar .sidebar-wrap {
  padding: 80px;
}
.sidebar .sidebar-wrap>div {
  margin-bottom: 40px;
}
.sidebar .widget-title {
  padding-bottom: 20px;
  font-size: 20px;
  color: #2f3363;
  font-weight: normal;
  text-align: center;
}
.sidebar .widget-me {
  padding: 40px 80px;
  word-break: break-all;
  box-sizing: border-box;
  text-align: center;
}
.sidebar .widget-me .me-name a {
  color: #333;
  font-size: 28px;
  padding: 20px 0px;
  writing-mode: vertical-rl;
}
.sidebar .widget-me .me-name small {
  display: block;
  color: #333;
  font-size: 14px;
  writing-mode: vertical-rl;
}
.sidebar .widget-me .me-avatar {
  width: 100px;
  margin: auto;
}
.sidebar .widget-me .me-avatar img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar .widget-me .me-avatar img:hover {
  transform: rotate(360deg);
}
.sidebar .widget-nav .nav-list {
  text-align: center;
}
.sidebar .widget-nav .nav-list li {
  display: inline-block;
  writing-mode: vertical-rl;
}
.sidebar .widget-nav .nav-list li a {
  color: #333;
  display: block;
  font-size: 18px;
  padding: 10px 0px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar .widget-nav .nav-list li a:hover,
.sidebar .widget-nav .nav-list li a.active {
  color: #fff;
  background-color: #2f3363;
  font-weight: bold;
}
.sidebar .widget-tags a {
  color: #818181;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.sidebar .widget-tags a:hover {
  color: #2f3363;
}
.footer {
  text-align: center;
  padding-bottom: 40px;
}
.footer .footer-intro {
  color: #333;
  margin: 10px 0px;
  font-size: 14px;
}
.footer .footer-intro a {
  color: #333;
}
.footer .extra {
  font-size: 10px;
  color: #b1b1b1;
}
@media screen and (max-width: 960px) {
  .body-box {
    width: 100%;
  }
  .sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
  .sidebar .widget-tags {
    display: none;
  }
  .content-article {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
  }
  .content-article .article-post {
    padding: 0px;
  }
  .content-article .content-article-box {
    padding: 20px;
  }
  .content-article .mobile-toggle {
    display: block !important;
    margin: 20px;
  }
  .content-article .mobile-toggle img {
    display: block;
    width: 30px;
  }
}
